.section-w-header {
  margin-top: 1.5em;
}

.card.wider-card {
  max-width: 100vw;
  width: 32em;
}

.message {
  margin-top: 1em !important;
  word-wrap: break-word;
}
.signature {
  overflow: auto;
  padding-bottom: 0.4em;
  padding-top: 0.9em;
  white-space: nowrap;
}
